/* use sparringly */
* {
	/* resetting */
	margin: 0;
	padding: 0;
}

html {
	/* tmp font */
	font-family: monospace;
}

body {
	--bgCol1: hsl(120 20 80);
	--bgCol2: hsl(from var(--bgCol1) h s calc(l - 20));
	background: repeating-linear-gradient(45deg, var(--bgCol1), var(--bgCol2) 30px, var(--bgCol1) 60px);
}

/* utility class */

/* flex setting */
.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}
.flex-between {
	display: flex;
	justify-content: space-between;
}
.flex-top {
	display: flex;
	flex-direction: column;
}
/* !!flex setting!! */

.gray0 {
	background-color: hsl(0 0 60);
}

.gray1 {
	background-color: hsl(0 0 40);
}

.logo-sml-0 {
	background-image: url("../media/squi_logo-000.png");
	background-position: 68% 70%;
	background-repeat: no-repeat;
	background-size: 85%;
	border-radius: 50%;
}

.capsule-thin {
	display: inline;
	margin: auto 0.5em;
	--wid: 0.55em;
	border-radius: calc(var(--wid) / 2);
	width: var(--wid);
	height: 1.4em;
}

.capsule-thick {
	display: inline;
	margin: auto 0.5em;
	--wid: 0.8em;
	border-radius: calc(var(--wid) / 2);
	width: var(--wid);
	height: 1.4em;
}

/* sections */

/* header */

/* main nav */
#head-area {
	display: flex;
	flex-direction: column;
}

/* login */

#login-sect {
	height: 400px;
	width: 300px;
}

/* !!header!! */
/* main */

/* test class */
.contentList {
	width: 50%;
	min-width: 400px;
	height: 200px;
	margin: 0 auto;
}

/* !!main!! */


/* id planned for removal */

#nav-area {
	width: 100%;
	/* height: 100px; */
	background-color: red;
}

#nav-main {
	background-color: hsl(0 0 40% / 40%);
}

#nav-main-upper {
	background-color: hsl(0 0 50% / 25%);
}

#logo {
	background-color: #94C5D9;
	box-sizing: border-box;
	height: 40px;
	width: 40px;
	border: 3px solid #1E4C5B;
}

#nav-extra-upper {
	display: grid;
	grid-template-columns: repeat(2 1fr);
	gap: 5px 10px;

	padding: 0 10px;
	background-color: hsl(0 0 40% / 40%);
}

#nav-main-bar {
	width: 100%; height: 60px;
	background-color: hsla(0, 60%, 60%, 0.3);
}