/* use sparringly */
* {
	/* resetting */
	margin: 0;
	padding: 0;
}

html {
	/* tmp font */
	font-family: monospace;
}

body {
	--bgCol1: hsl(120 20 80);
	--bgCol2: hsl(from var(--bgCol1) h s calc(l - 20));
	background: repeating-linear-gradient(45deg, var(--bgCol1), var(--bgCol2) 30px, var(--bgCol1) 60px);
}

/* utility class */

/* flex setting */
.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}
.flex-between {
	display: flex;
	justify-content: space-between;
}
.flex-top {
	display: flex;
	flex-direction: column;
}
/* !!flex setting!! */

.gray0 {
	background-color: hsl(0 0 60);
}

.gray1 {
	background-color: hsl(0 0 40);
}

.bShadow {
	box-shadow: 0px 0px 0px 5px hsla(0 0% 0% / 20%);
}
.bg-line {
	--bgCol1: hsl(0 0 80 / 0.2);
	--bgCol2: hsl{from var(var(--bgCol1)) h s calc(var(--bgCol1 - 40)) / 0.9};
	background: repeating-linear-gradient(7deg, var(--bgCol1), var(--bgCol1) 5px, var(--bgCol2) 5px, var(--bgCol2) 10px);
}

.logo-sml-0 {
	background-image: url("../media/squi_logo-000.png");
	background-position: 68% 70%;
	background-repeat: no-repeat;
	background-size: 85%;
	border-radius: 50%;
}

.capsule-thin {
	display: inline;
	margin: auto 0.5em;
	--wid: 0.55em;
	border-radius: calc(var(--wid) / 2);
	width: var(--wid);
	height: 1.4em;
}

.capsule-thick {
	display: inline;
	margin: auto 0.5em;
	--wid: 0.8em;
	border-radius: calc(var(--wid) / 2);
	width: var(--wid);
	height: 1.4em;
}


/* sections */

/* header */

/* nav bar area */
#head-area {
	display: flex;
	flex-direction: column;
}

#nav-main {
	background-color: hsl(0 0 40% / 40%);
	margin: 10px 5px 0 10px;
	padding: 5px;
	border-radius: 10px;
}

#nav-main-upper {
	/* to be removed */
	background-color: hsl(0 0 50% / 25%);
}

#logo {
	background-color: hsl(197, 48%, 72%);
	box-sizing: border-box;
	
	margin: 0 5px 5px;
	border: 3px solid #1E4C5B;

	height: 50px;
	width: 50px;
}

#nav-extra-upper {
	display: grid;
	grid-template-columns: repeat(2 1fr);
	gap: 5px 10px;

	padding: 0 10px;
	background-color: hsl(0 0 40% / 40%);
}

#nav-main-bar {
	width: 100%; height: 60px;
	border-radius: 5px;
	background-color: hsla(0, 60%, 60%, 0.3);
}
/* !!nav bar area!! */


/* login */

#login-sect {
	display: grid;
	grid-template-rows: auto 120px;
	gap: 5px;

	margin: 10px;
	padding: 3px; 

	height: 400px;
	width: 300px;
}

/* !!header!! */
/* main */

/* test class */
.contentList {
	width: 50%;
	min-width: 400px;
	height: 200px;
	margin: 0 auto;
}

/* !!main!! */


/* id planned for removal */

