

/* use sparringly */
* {
	/* resetting */
	margin: 0;
	padding: 0;
}

:root {
	/* variables */
	--col-tranGrey: hsl(0 0 0 / 0.2);
	--col-main: hsl(27 31 33);
	--col-main-sat: hsl(from var(--col-main) h 100 50);
}

html {
	/* tmp font */
	font-family: monospace;
}

body {
	--bgCol1: hsl(120 20 80);
	--bgCol2: hsl(from var(--col-main) h calc(s / 2) 50);
	background: repeating-linear-gradient(45deg, var(--bgCol1), var(--bgCol2) 10em, var(--bgCol1) 20em);
}

/* utility class */

/* flex setting */
.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}
.flex-between {
	display: flex;
	justify-content: space-between;
}
.flex-top {
	display: flex;
	flex-direction: column;
}
/* !!flex setting!! */

.gray0 {
	background-color: hsl(0 0 60);
}

.gray1 {
	background-color: hsl(0 0 40);
}

/* box shadow acting like border
fix since border didn't work
border also gets affected by background */
.border-shadow {
	box-shadow: 0 0 0 var(--size-shadow, 0.25em) var(--col-shadow, grey);
}

.logo-sml-0 {
	background-image: url("../media/squi_logo-000.png");
	background-position: 68% 70%;
	background-repeat: no-repeat;
	background-size: 85%;
	border-radius: 50%;
}

.capsule-thin {
	display: inline;
	margin: auto 0.5em;
	--wid: 0.55em;
	border-radius: calc(var(--wid) / 2);
	width: var(--wid);
	height: 1.4em;
}

.capsule-thick {
	display: inline;
	margin: auto 0.5em;
	--wid: 0.8em;
	border-radius: calc(var(--wid) / 2);
	width: var(--wid);
	height: 1.4em;
}

.bg-stripe {
	background: repeating-linear-gradient(45deg, var(--col-stripe-0, white), var(--col-stripe-0, white) var(--size-stripe, 0.3em), var(--col-stripe-1, grey) var(--size-stripe, 0.3em), var(--col-stripe-1, grey) calc(var(--size-stripe, 0.3em) * 2));
}

/* !!utility class!! */

/* test class */
.test-colPal {
	height: 50%;
	width: 100%;
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;

	--col-off-0: hsl(from var(--col-main) calc(h + 30) 50 20);
	--col-off-1: hsl(from var(--col-main) calc(h - 30) 50 20);
}

.test-col-0 {
	background-color: var(--col-main-sat);
}

.test-col-1 {
	background-color: var(--col-off-0);
}

.test-col-2 {
	background-color: var(--col-off-1);
}
/* !!test class!! */

/* sections */

/* header */
header {
	margin: 1em 2.5em;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto 1fr;
	grid-template-areas:
	"nav login"
	"free login";
	gap: 1em;
}

/* nav bar area */

#nav-main {
	grid-area: nav;
	border-radius: 0.4em;
	padding: 0.3em;

	/* setting up variable for other class */
	--col-shadow: var(--col-tranGrey);
	--col-stripe-0: hsl(0 0 60 / 0.5);
	--col-stripe-1: hsl(0 0 55 / 0.5);
	--size-stripe: 0.2em;
}

#nav-main-upper {
	/* to be removed */
	background-color: hsl(0 0 50% / 25%);
}

#logo {
	background-color: hsl(197, 48%, 72%);
	box-sizing: border-box;
	
	margin: 0.2em;
	border: 0.2em solid #1E4C5B;

	height: 2.5em;
	width: 2.5em;
}

#nav-extra-upper {
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	/* since there's no vertical */
	gap: 1em;

	padding: 0 1em;
}

#nav-extra-upper > * {
	margin: auto 0;
	text-align: center;
}

#nav-main-bar {
	width: 100%; height: 60px;
	border-radius: 5px;
	background-color: hsla(0, 60%, 60%, 0.3);
}
/* !!nav bar area!! */

/* header free area */
#header-free {
	grid-area: free;

	/* temp */
	text-align: center;
}

/* !!header free area!! */

/* login */

#login-sect {
	grid-area: login;
	display: grid;
	grid-template-rows: auto 120px;
	gap: 5px;

	/* margin: 10px; */
	padding: 3px; 

	height: 400px;
	width: 300px;
}

#login-area {
	--col-stripe-0: hsl(0 80 50%);
	--col-stripe-1: hsl(0 70 40%);
}

/* !!header!! */
/* main */
main {
	/* size varies note under refmat */
	max-width: 1440px;
	--cv-aw: max(20px, calc((100vw - 1440px) / 2));
	margin: 0 var(--cv-aw) 0 var(--cv-aw);
}
/* test class */
.contentList {
	width: 50%;
	min-width: 400px;
	height: 200px;
	margin: 0 auto;
}

/* !!main!! */


/* id planned for removal */

